// SPDX-License-Identifier: GPL-2.0-or-later
// Copyright (c) 2020 Accton Inc.

/dts-v1/;

#include "aspeed-g6.dtsi"
#include <dt-bindings/gpio/aspeed-gpio.h>
#include <dt-bindings/leds/leds-pca955x.h>

/ {
	model = "Sylvia-Ast2600 BMC";
	compatible = "ibm,tacoma-bmc", "aspeed,ast2600";

	chosen {
		stdout-path = &uart5;
		bootargs = "console=ttyS4,115200n8 root=/dev/ram rw";
	};

	memory@80000000 {
		device_type = "memory";
		reg = <0x80000000 0x80000000>;
	};

	reserved-memory {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		flash_memory: region@ba000000 {
			no-map;
			reg = <0xb8000000 0x4000000>; /* 64M */
		};

		vga_memory: region@bf000000 {
			no-map;
			reg = <0xbf000000 0x01000000>;	/* 16M */
		};
	};
};

&fmc {
	status = "okay";
	flash@0 {
		status = "okay";
		m25p,fast-read;
		label = "bmc";

		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			obmc@0 {
				reg = <0x0000000 0x4000000>; // 64MB
				label = "main-bmc";
			};
			u-boot@0 {
				reg = <0x0 0xe0000>; // 896KB
				label = "u-boot";
			};

			u-boot-env@e0000 {
				reg = <0xe0000 0x20000>; // 128KB
				label = "u-boot-env";
			};

			kernel@100000 {
				reg = <0x100000 0x900000>; // 9 MB
				label = "kernel";
			};

			rofs@a00000 {
				reg = <0xa00000 0x1400000>; // 20MB 
				label = "rofs";
			};

			rwfs@1e00000 {
				reg = <0x1e00000 0x200000>; // 2MB
				label = "rwfs";
			};
		};
	};

	flash@1 {
		status = "okay";
		m25p,fast-read;
		label = "alt-bmc";
		spi-max-frequency = <50000000>;
	};
};

&spi1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_spi1_default>;

	flash@0 {
		status = "okay";
		m25p,fast-read;
		label = "pnor";
		spi-max-frequency = <100000000>;
	};
};

&spi2 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_spi2_default>;

	flash@0 {
		status = "okay";
		m25p,fast-read;
		label = "spi2.0";
		spi-max-frequency = <50000000>;
	};
};

&i2c0 {
	status = "okay";
};

&i2c1 {
	status = "okay";
};

&i2c2 {
	status = "okay";
};

&i2c3 {
	status = "okay";
};

/*
&i2c4 {
	status = "okay";
};
*/
&i2c5 {
	status = "okay";
};

&i2c6 {
	status = "okay";
};

&i2c7 {
	status = "okay";
};

&i2c8 {
	status = "okay";
};

&i2c9 {
	status = "okay";
};

&uhci {
	status = "okay";
};

&ehci0 {
	status = "okay";
};

&ehci1 {
	status = "okay";
};

/*
&mdio2 {
	status = "okay";

	ethphy2: ethernet-phy@2 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <0>;
	};
};

&mdio3 {
	status = "okay";

	ethphy3: ethernet-phy@3 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <0>;
	};
};

&mac2 {
	status = "okay";

	phy-mode = "rmii";
	phy-handle = <&ethphy2>;

	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_rmii3_default>;
};

&mac3 {
	status = "okay";

	phy-mode = "rgmii";
	phy-handle = <&ethphy3>;

	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_rgmii4_default>;
};
*/
&rtc {
	status = "okay";
};

&mac2 {
	status = "okay";

	use-ncsi;

	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_rmii3_default>;
	clocks = <&syscon ASPEED_CLK_GATE_MAC3CLK>;
	clock-names = "MACCLK", "RCLK";
	phy-mode = "rmii";
};

/*
&mac3 {
	status = "okay";
	phy-mode = "rgmii";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_rgmii4_default>;
	clocks = <&syscon ASPEED_CLK_GATE_MAC4CLK>;
	clock-names = "MACCLK", "RCLK";
	use-ncsi;
};
*/

/*
&emmc_controller {
	status = "okay";
};

&emmc {
	status = "okay";
};
*/


&i2c4 {
	status = "okay";

	i2c-mux1@71 {
		compatible = "nxp,pca9548";
		i2c-mux-idle-disconnect;
		reg = <0x71>;

		i2c4_71_chan0: i2c@0 {
			reg = <0>;
			cpld1@system_cpld_6a {
				compatible = "edge-core,ec_system_cpld1";
				reg = <0x6a>;
			};			
		};

		i2c4_71_chan1: i2c@1 {
			reg = <1>;
			cpld2@system_cpld_6b {
				compatible = "edge-core,ec_system_cpld2";
				reg = <0x6b>;
			};			
		};

		i2c4_71_chan2: i2c@2 {
			reg = <2>;
			cpld3@system_cpld_6c {
				compatible = "edge-core,ec_system_cpld3";
				reg = <0x6c>;
			};			
		};

		i2c4_71_chan3: i2c@3 {
			reg = <3>;
		};

		i2c4_71_chan4: i2c@4 {
			reg = <4>;
		};

		i2c4_71_chan5: i2c@5 {
			reg = <5>;
		};

		i2c4_71_chan6: i2c@6 {
			reg = <6>;
		};

		i2c4_71_chan7: i2c@7 {
			reg = <7>;
		};
	};
};

&i2c4_71_chan5 {
	i2c-mux2@73 {
		compatible = "nxp,pca9548";
		i2c-mux-idle-disconnect;
		reg = <0x73>;

		i2c4_71_73_chan0: i2c@0 {
			reg = <0>;
		};

		i2c4_71_73_chan1: i2c@1 {
			reg = <1>;
			sensor9@fan_temp1_4d {
				//compatible = "national,lm75";
				reg = <0x4d>;
			};

			sensor10@fan_temp2_4e {
				//compatible = "national,lm75";
				reg = <0x4e>;
			};

			sensor13@fan_cpld_68 {
				compatible = "edge-core,ec_fan_cpld1";
				reg = <0x68>;
			};
		};

		i2c4_71_73_chan2: i2c@2 {
			reg = <2>;
		};

		i2c4_71_73_chan3: i2c@3 {
			reg = <3>;

			sensor4@lm75db_4b {
				//compatible = "national,lm75";
				reg = <0x4b>;
			};
		};

		i2c4_71_73_chan4: i2c@4 {
			reg = <4>;
		};

		i2c4_71_73_chan5: i2c@5 {
			reg = <5>;

			sensor5@88470_thermal_4c {
				//compatible = "national,lm75";
				reg = <0x4c>;
			};
		};

		i2c4_71_73_chan6: i2c@6 {
			reg = <6>;

			sensor6@lm75bd_1_4a {
				//compatible = "national,lm75";
				reg = <0x4a>;
			};

			sensor7@lm75bd_2_49 {
				//compatible = "national,lm75";
				reg = <0x49>;
			};

			sensor8@lm75bd_3_4e {
				//compatible = "national,lm75";
				reg = <0x4e>;
			};
		};

		i2c4_71_73_chan7: i2c@7 {
			reg = <7>;
		};
	};
};

&i2c4_71_chan6 {
	i2c-mux3@74 {
		compatible = "nxp,pca9548";
		i2c-mux-idle-disconnect;
		reg = <0x74>;

		i2c4_71_74_chan0: i2c@0 {
			reg = <0>;
			sensor11@psu1_5b {
				compatible = "edge-core,ir3570";
				reg = <0x5b>;
			};
			eepromPSU1@53 {
				compatible = "atmel,24c02";
				reg = <0x53>;
			};
		};

		i2c4_71_74_chan1: i2c@1 {
			reg = <1>;
			sensor12@psu2_58 {
				compatible = "edge-core,ir3570";
				reg = <0x58>;
			};
			eepromPSU2@50 {
				compatible = "atmel,24c02";
				reg = <0x50>;
			};
		};

		i2c4_71_74_chan2: i2c@2 {
			reg = <2>;
		};

		i2c4_71_74_chan3: i2c@3 {
			reg = <3>;
		};

		i2c4_71_74_chan4: i2c@4 {
			reg = <4>;
		};

		i2c4_71_74_chan5: i2c@5 {
			reg = <5>;
		};

		i2c4_71_74_chan6: i2c@6 {
			reg = <6>;
		};

		i2c4_71_74_chan7: i2c@7 {
			reg = <7>;
		};
	};
};

&i2c4_71_73_chan0 {
	i2c-mux5@75 {
		compatible = "nxp,pca9548";
		i2c-mux-idle-disconnect;
		reg = <0x75>;

		i2c4_71_73_75_chan0: i2c@0 {
			reg = <0>;
			eeprom@57 {
				compatible = "atmel,24c32";
				reg = <0x57>;
			};
		};

		i2c4_71_73_75_chan1: i2c@1 {
			reg = <1>;

			sensor1@lm75bd_5_main_48 {
				//compatible = "national,lm75";
				reg = <0x48>;
			};
		};

		i2c4_71_73_75_chan2: i2c@2 {
			reg = <2>;

			sensor2@lm75bd_6_main_4b {
				//compatible = "national,lm75";
				reg = <0x4b>;
			};
		};

		i2c4_71_73_75_chan3: i2c@3 {
			reg = <3>;

			sensor3@lm75bd_7_main_4d {
				//compatible = "national,lm75";
				reg = <0x4d>;
			};
		};

		i2c4_71_73_75_chan4: i2c@4 {
			reg = <4>;
		};

		i2c4_71_73_75_chan5: i2c@5 {
			reg = <5>;
		};

		i2c4_71_73_75_chan6: i2c@6 {
			reg = <6>;
		};

		i2c4_71_73_75_chan7: i2c@7 {
			reg = <7>;
		};
	};
};

&i2c4_71_73_chan7 {
	i2c-mux6@75 {
		compatible = "nxp,pca9548";
		status = "disabled";
		i2c-mux-idle-disconnect;
		reg = <0x75>;
	};
};


&ibt {
	status = "okay";
};

&uart1 {
	status = "okay";
	// Workaround for A0
	compatible = "snps,dw-apb-uart";
};

&uart2 {
	status = "okay";
};

&uart5 {
	// Workaround for A0
	compatible = "snps,dw-apb-uart";
};

&vuart1 {
	status = "okay";
};

&vuart2 {
	status = "okay";
};

&lpc_ctrl {
	status = "okay";
	memory-region = <&flash_memory>;
	flash = <&spi1>;
};

&lpc_snoop {
	status = "okay";
	snoop-ports = <0x80>;
};

&wdt1 {
	aspeed,reset-type = "none";
	aspeed,external-signal;
	aspeed,ext-push-pull;
	aspeed,ext-active-high;

	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_wdtrst1_default>;
};


&wdt2 {
	status = "okay";
};


&pinctrl {
	/* Hog these as no driver is probed for the entire LPC block */
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_lpc_default>,
		    <&pinctrl_lsirq_default>;
};

&xdma {
	status = "okay";
	memory-region = <&vga_memory>;
};

&lpc_host {
       kcs4: kcs4@0 {
               compatible = "openbmc,mctp-lpc";
               interrupts = <GIC_SPI 141 IRQ_TYPE_LEVEL_HIGH>;
               status = "okay";
       };
};

&kcs2 {
	// BMC KCS channel 2
	status = "okay";
};

&kcs3 {
	// BMC KCS channel 3
	status = "okay";
	kcs_addr = <0xca2>;
};

&peci0 {
	status = "okay";
};
/*
&pcie {
	status = "okay";
	interrupts = <GIC_SPI 168 IRQ_TYPE_LEVEL_HIGH>;

	pcie_intc0: legacy-interrupt-controller {
		interrupts = <GIC_SPI 168 IRQ_TYPE_EDGE_RISING>;
  };
};

&pcie_ep {
	status = "okay";
};

&h2x {
	status = "okay";
};*/


