#
# AST2600 card test board specific kernel config options;
# used for kernel version 5.x or newer versions.
#

# Driver for filesystem
CONFIG_MSDOS_FS=y
CONFIG_VFAT_FS=y
CONFIG_FAT_DEFAULT_UTF8=y
CONFIG_NTFS_FS=y
CONFIG_NTFS_RW=y
CONFIG_NLS_CODEPAGE_437=y
CONFIG_NLS_ISO8859_1=y

CONFIG_EXT3_FS=y
CONFIG_EXT4_FS=y

CONFIG_PECI_CHARDEV=y

CONFIG_ARM_AMBA=y
CONFIG_PCI=y
CONFIG_PCIEPORTBUS=y
# CONFIG_PCIEASPM is not set
CONFIG_PCI_MSI=y
CONFIG_PCI_DEBUG=y
CONFIG_PCI_REALLOC_ENABLE_AUTO=y
CONFIG_PCI_STUB=y
CONFIG_PCI_IOV=y
CONFIG_PCI_PRI=y
CONFIG_PCIE_ASPEED=y
CONFIG_ASPEED_XDMA=y

# CONFIG_HAVE_KERNEL_UNCOMPRESSED=y
# CONFIG_ANON_INODES=y
# CONFIG_RWSEM_XCHGADD_ALGORITHM=y
# CONFIG_UEVENT_HELPER=y
# CONFIG_UEVENT_HELPER_PATH="/sbin/hotplug"
# CONFIG_REGMAP_SPI=y
# CONFIG_BLK_DEV_RAM=y
# CONFIG_BLK_DEV_RAM_COUNT=16
# CONFIG_BLK_DEV_RAM_SIZE=16384
# CONFIG_CLKSRC_MMIO=y
# CONFIG_FTTMR010_TIMER=y
# CONFIG_IIO_CONFIGFS=y
# CONFIG_FS_POSIX_ACL=y
# CONFIG_HAVE_ARCH_BITREVERSE=y
# CONFIG_RATIONAL=y
CONFIG_DEBUG_LL=n
CONFIG_DEBUG_LL_UART_8250=n
CONFIG_EARLY_PRINTK=y

CONFIG_SPI_ASPEED_SMC=y

CONFIG_SERIAL_8250=y
CONFIG_SERIAL_8250_CONSOLE=y
CONFIG_SERIAL_8250_NR_UARTS=6
CONFIG_SERIAL_8250_RUNTIME_UARTS=6
CONFIG_SERIAL_8250_EXTENDED=y
CONFIG_SERIAL_8250_ASPEED_VUART=y
CONFIG_SERIAL_8250_SHARE_IRQ=y
CONFIG_SERIAL_8250_DW=y
CONFIG_SERIAL_OF_PLATFORM=y



CONFIG_RD_BZIP2=y
CONFIG_RD_LZO=y
CONFIG_RD_LZ4=y

CONFIG_UID16=y
CONFIG_SYSFS_SYSCALL=y
CONFIG_AIO=y

CONFIG_DMA_CACHE_RWFO=y
CONFIG_OUTER_CACHE=y
CONFIG_OUTER_CACHE_SYNC=y
CONFIG_CACHE_L2X0=y

CONFIG_ARM_HEAVY_MB=y
CONFIG_ATAGS=y
CONFIG_KEXEC=y
CONFIG_ATAGS_PROC=y

CONFIG_CRASH_CORE=y
CONFIG_KEXEC_CORE=y
CONFIG_ARCH_HAS_KEEPINITRD=y

CONFIG_ARCH_WANT_DEFAULT_TOPDOWN_MMAP_LAYOUT=y
CONFIG_HAVE_COPY_THREAD_TLS=y
CONFIG_64BIT_TIME=y

CONFIG_ARCH_HAS_BINFMT_FLAT=y
CONFIG_BINFMT_FLAT_ARGVP_ENVP_ON_STACK=y
CONFIG_ARCH_KEEP_MEMBLOCK=y
CONFIG_COMPACTION=y
CONFIG_CONTIG_ALLOC=y
CONFIG_FRAME_VECTOR=y

CONFIG_INET_DIAG=y
CONFIG_INET_TCP_DIAG=y

CONFIG_MAC80211_STA_HASH_MAX_SIZE=0

CONFIG_MTD_CMDLINE_PARTS=y
CONFIG_MTD_OF_PARTS=y

CONFIG_MD=y
CONFIG_BLK_DEV_DM_BUILTIN=y
CONFIG_BLK_DEV_DM=y
CONFIG_DM_BUFIO=y
CONFIG_DM_VERITY=y

CONFIG_VLAN_8021Q=y
CONFIG_NET_NCSI=y
CONFIG_NCSI_OEM_CMD_GET_MAC=y
CONFIG_FTGMAC100=y
CONFIG_REALTEK_PHY=y

CONFIG_NET_VENDOR_AQUANTIA=y
CONFIG_NET_VENDOR_ARC=y

CONFIG_NET_VENDOR_AURORA=y
CONFIG_NET_VENDOR_BROADCOM=y
CONFIG_NET_VENDOR_CADENCE=y
CONFIG_NET_VENDOR_CAVIUM=y
CONFIG_NET_VENDOR_CHELSIO=y
CONFIG_NET_VENDOR_CIRRUS=y
CONFIG_NET_VENDOR_CORTINA=y
CONFIG_NET_VENDOR_GOOGLE=y
CONFIG_NET_VENDOR_HISILICON=y
CONFIG_NET_VENDOR_HUAWEI=y
CONFIG_NET_VENDOR_I825XX=y
CONFIG_NET_VENDOR_INTEL=y
CONFIG_NET_VENDOR_MARVELL=y
CONFIG_NET_VENDOR_MELLANOX=y
CONFIG_NET_VENDOR_MICREL=y
CONFIG_NET_VENDOR_MICROCHIP=y
CONFIG_NET_VENDOR_MICROSEMI=y
CONFIG_NET_VENDOR_NATSEMI=y
CONFIG_NET_VENDOR_NETRONOME=y
CONFIG_NET_VENDOR_NI=y
CONFIG_NET_VENDOR_8390=y
CONFIG_NET_VENDOR_PACKET_ENGINES=y
CONFIG_NET_VENDOR_PENSANDO=y
CONFIG_NET_VENDOR_QUALCOMM=y
CONFIG_NET_VENDOR_REALTEK=y
CONFIG_NET_VENDOR_RENESAS=y
CONFIG_NET_VENDOR_ROCKER=y
CONFIG_NET_VENDOR_SAMSUNG=y
CONFIG_NET_VENDOR_SEEQ=y
CONFIG_NET_VENDOR_SOLARFLARE=y
CONFIG_NET_VENDOR_SMSC=y
CONFIG_NET_VENDOR_SOCIONEXT=y
CONFIG_NET_VENDOR_STMICRO=y
CONFIG_NET_VENDOR_SYNOPSYS=y
CONFIG_NET_VENDOR_VIA=y
CONFIG_NET_VENDOR_WIZNET=y
CONFIG_NET_VENDOR_XILINX=y

CONFIG_USB_NET_DRIVERS=y

CONFIG_MARVELL_PHY=y

CONFIG_INPUT_LEDS=y

CONFIG_KEYBOARD_ATKBD=y

CONFIG_INPUT_MOUSE=y
CONFIG_MOUSE_PS2=y
CONFIG_MOUSE_PS2_ALPS=y
CONFIG_MOUSE_PS2_BYD=y
CONFIG_MOUSE_PS2_LOGIPS2PP=y
CONFIG_MOUSE_PS2_SYNAPTICS=y
CONFIG_MOUSE_PS2_SYNAPTICS_SMBUS=y
CONFIG_MOUSE_PS2_CYPRESS=y
CONFIG_MOUSE_PS2_TRACKPOINT=y
CONFIG_MOUSE_PS2_FOCALTECH=y
CONFIG_MOUSE_PS2_SMBUS=y

CONFIG_SERIO=y
CONFIG_SERIO_SERPORT=y
CONFIG_SERIO_LIBPS2=y

CONFIG_TTY=y
CONFIG_VT=y
CONFIG_CONSOLE_TRANSLATIONS=y
CONFIG_VT_CONSOLE=y
CONFIG_VT_CONSOLE_SLEEP=y
CONFIG_HW_CONSOLE=y
CONFIG_LEGACY_PTYS=y
CONFIG_LEGACY_PTY_COUNT=256

CONFIG_SERIAL_8250_DEPRECATED_OPTIONS=y
CONFIG_SERIAL_8250_DWLIB=y

CONFIG_SERIAL_MCTRL_GPIO=y

CONFIG_HW_RANDOM=m
CONFIG_HW_RANDOM_TIMERIOMEM=m

CONFIG_I2C_COMPAT=y
CONFIG_I2C_MUX=y
CONFIG_I2C_MUX_PCA9541=y
CONFIG_I2C_MUX_PCA954x=y
CONFIG_I2C_HELPER_AUTO=y

CONFIG_SPI_SPIDEV=y

CONFIG_GPIO_PCA953X=y
CONFIG_GPIO_PCA953X_IRQ=y

CONFIG_W1=y
CONFIG_W1_MASTER_GPIO=y

CONFIG_SENSORS_LM75=y
CONFIG_SENSORS_PECI_CPUTEMP=y
CONFIG_SENSORS_PECI_DIMMTEMP=y
CONFIG_PMBUS=y
CONFIG_SENSORS_PMBUS=y
CONFIG_SENSORS_IIO_HWMON=y
CONFIG_SENSORS_TMP421=y

CONFIG_WATCHDOG_OPEN_TIMEOUT=0

CONFIG_MFD_CORE=y
CONFIG_MFD_INTEL_PECI_CLIENT=y

CONFIG_USB_LIBCOMPOSITE=m
CONFIG_USB_F_ACM=m
CONFIG_USB_U_SERIAL=m
CONFIG_USB_U_ETHER=m
CONFIG_USB_F_SERIAL=m
CONFIG_USB_F_NCM=m
CONFIG_USB_F_ECM=m
CONFIG_USB_F_EEM=m
CONFIG_USB_F_SUBSET=m
CONFIG_USB_F_RNDIS=m
CONFIG_USB_F_MASS_STORAGE=m
CONFIG_USB_F_HID=m
CONFIG_USB_CONFIGFS=m
CONFIG_USB_CONFIGFS_ACM=y
CONFIG_USB_ETH=m
CONFIG_USB_ETH_RNDIS=y
CONFIG_USB_ETH_EEM=y
CONFIG_USB_G_NCM=m
CONFIG_USB_CDC_COMPOSITE=m

CONFIG_CRYPTO_CRC32C=m
CONFIG_CRYPTO_LIB_SHA256=y
CONFIG_CRYPTO_SHA256=y
CONFIG_CRYPTO_ZSTD=y
CONFIG_CRYPTO_HW=y

CONFIG_RATIONAL=y
CONFIG_CRC4=y
CONFIG_LZ4_DECOMPRESS=y
CONFIG_ZSTD_COMPRESS=y
CONFIG_XZ_DEC_X86=y
CONFIG_XZ_DEC_POWERPC=y
CONFIG_XZ_DEC_IA64=y
CONFIG_XZ_DEC_SPARC=y
CONFIG_DECOMPRESS_BZIP2=y
CONFIG_DECOMPRESS_LZO=y
CONFIG_DECOMPRESS_LZ4=y

CONFIG_OPTIMIZE_INLINING=y

CONFIG_DEBUG_MISC=y

CONFIG_BOOTPARAM_SOFTLOCKUP_PANIC_VALUE=1
CONFIG_BOOTPARAM_HUNG_TASK_PANIC_VALUE=1
CONFIG_BOOTPARAM_HUNG_TASK_PANIC=y
CONFIG_BOOTPARAM_HUNG_TASK_PANIC_VALUE=1
CONFIG_SCHED_DEBUG=y

CONFIG_RUNTIME_TESTING_MENU=y

CONFIG_MTD_PARTITIONED_MASTER=n
CONFIG_MTD_DATAFLASH=n
CONFIG_MTD_M25P80=n
CONFIG_MTD_BLOCK2MTD=n

CONFIG_LBDAF=y
CONFIG_BLK_DEV_NVME=m
CONFIG_NVME_TARGET=n
CONFIG_ATA=y
CONFIG_SATA_AHCI=m
CONFIG_SATA_AHCI_PLATFORM=m

CONFIG_R8169=m

CONFIG_I2C_NEW_ASPEED=n
CONFIG_I2C_ASPEED=y

CONFIG_PCI_ENDPOINT=y
CONFIG_PCI_ENDPOINT_CONFIGFS=y
CONFIG_PCI_EPF_TEST=m
CONFIG_PCI_ENDPOINT_TEST=m

CONFIG_SENSORS_MAX31785=y
CONFIG_SENSORS_UCD9000=y
CONFIG_RTC_DRV_RV8803=y
CONFIG_IIO=y
CONFIG_BMP280=y
