/*
 * Copyright (c) 2020 Accton Inc.
 */

/dts-v1/;

#include "ast2600-u-boot.dtsi"

/ {
        model = "as9737-32db-AST2600";
	memory {
		device_type = "memory";
		reg = <0x80000000 0x80000000>;
	};

	chosen {
		stdout-path = &uart5;
	};

	aliases {
		spi0 = &fmc;
		ethernet0 = &mac2;
	};

	cpus {
		cpu@0 {
			clock-frequency = <800000000>;
		};
		cpu@1 {
			clock-frequency = <800000000>;
		};
	};
};

&uart5 {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&wdt1 {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&mac2 {
	status = "okay";

	phy-mode = "NC-SI";
	use-ncsi;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_rmii3_default &pinctrl_mac3link_default &pinctrl_mdio3_default>;
};

&fmc {
	status = "okay";

	flash@0 {
		compatible = "spi-flash", "sst,w25q256";
		status = "okay";
		spi-max-frequency = <50000000>;
		spi-tx-bus-width = <2>;
		spi-rx-bus-width = <2>;
	};

	flash@1 {
		compatible = "spi-flash", "sst,w25q256";
		status = "okay";
		spi-max-frequency = <50000000>;
		spi-tx-bus-width = <2>;
		spi-rx-bus-width = <2>;
	};
};

&sdrammc {
	clock-frequency = <400000000>;
};

&i2c0 {
	status = "okay";
};

&i2c1 {
	status = "okay";
};

&i2c2 {
	status = "okay";
};

&i2c3 {
	status = "okay";
};

&i2c4 {
	status = "okay";
};

&i2c5 {
	status = "okay";
};

&i2c6 {
	status = "okay";
};

&i2c7 {
	status = "okay";
};

&i2c8 {
	status = "okay";

	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c9_default>;
	bmc_eeprom: bmc_eeprom@50 {
		compatible = "atmel,24c512";
		reg = <0x50>;
	};
};

&i2c9 {
	status = "okay";
};

&h2x {
	status = "okay";
};
